@tailwind base;
@tailwind components;
@tailwind utilities;

/* Prevent layout shift */
.aspect-w-16 {
  position: relative;
  padding-bottom: 56.25%;
}

.aspect-w-16 > * {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.infinite-scroll-component {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.infinite-scroll-component::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* Styling for the scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height for horizontal scrollbar */
}

/* Styling for the scrollbar track */
::-webkit-scrollbar-track {
  background: #eef2f7; /* Light gray background */
  border-radius: 10px; /* Rounded corners */
}

/* Styling for the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #618de5; /* Thumb color */
  border-radius: 10px; /* Rounded corners */
}

/* Styling for the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4c6fb4; /* Slightly darker on hover */
}

/* Optional: Styling for the corner (where vertical and horizontal scrollbars meet) */
::-webkit-scrollbar-corner {
  background: #eef2f7; /* Same as the track */
}
